$theme-primary: #159dbf;
$theme-link: #151686;
$theme-happy: #5cbf6f;
$theme-angry: #bf4b4b;
$theme-gray: #dbdbdb;
$theme-focus: #2e1980;
$theme-background: #fbfbfb;
$theme-text: #2c3e50;
$theme-text-light: #f0f8ff;
$theme-inactive: #e1e1e1;

