$theme-normal: #159dbf;
$theme-link: #151686;
$theme-happy: #5cbf6f;
$theme-angry: #bd3939;
$theme-app-background: white;
$theme-gray: #dbdbdb;
$theme-focus: #2e1980;
$theme-background: #fbfbfb;
$theme-background-light: #fcfcfa;
$theme-text: #2c3e50;
$theme-text-subdued: #6c7780;
$theme-text-light: #f0f8ff;
$theme-inactive: #e1e1e1;

