@import "utils";

.two-thirds {
  width: 65%;
}

.three-quarters {
  width: 75%;
}

.one-third {
  width: 32%;
}

.half {
  width: 49%;
}

.exclude-small {
  @include mobile {
    & {
      display: none;
    }
  }
}

.exclude-small {
  @include desktop {
    & {
      display: none;
    }
  }
}

@include mobile {
  .half {
    width: 100%;
  }

  .two-thirds, .one-third, .three-quarters {
    width: 100%;
  }
}

.full {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-left {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: flex-end;
}

.justify-spaced {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around;
}

.align-left {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: flex-end;
}

.hor-space {
  margin: 0 0.28em;
}
