@import "utils";

.two-thirds {
  width: 65%;

  @include full-on-mobile;
}

.one-quarter {
  width: 25%;

  @include full-on-mobile;
}

.three-quarters {
  width: 75%;

  @include full-on-mobile;
}

.one-third {
  width: 32%;

  @include full-on-mobile;
}

.half {
  width: 49%;

  @include full-on-mobile;
}

.exclude-small {
  @include mobile {
    & {
      display: none;
    }
  }
}

.exclude-small {
  @include desktop {
    & {
      display: none;
    }
  }
}

.full {
  width: 100%;
}

.row {
  display: flex;
  flex-flow: wrap row;
}

.inline-row {
  display: inline-flex;
  flex-flow: wrap row;
}

.col {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 0.2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-spaced {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around;
}

.align-left {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: flex-end;
}

.hor-space {
  margin: 0 0.28em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
