@import "utils";

.two-thirds {
  width: 65%;
}

.three-quarters {
  width: 75%;
}

.one-third {
  width: 32%;
}

.half {
  width: 49%;
}

@media only screen and (max-width: 768px) {
  .half {
    width: 100%;
  }

  .two-thirds, .one-third, .three-quarters {
    width: 100%;
  }

  .exclude-small {
    display: none;
  }
}

.full {
  width: 100%;
}

.row-spaced {
  @include flex($justify-content: space-between);
  width: 100%;
}

.row {
  @include flex;
}

.row-centered {
  @include flex($justify-content: center);
  width: 100%;
}

.col-spaced {
  @include flex($flex-direction: column, $justify-content: space-between);
}

.center-col {
  @include flex($align-items: center);
}


.justify-left {
  justify-content: space-around;
}

.align-left {
  align-items: flex-start;
}
