@import "utils";
@import "colors";

h1, h2, h3 {
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.3em;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

p {
  line-height: 1.4em;
}

strong {
  font-weight: 500;
}

body {
  background-color: $theme-background;
  color: $theme-text;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1vh;

  @include mobile {
    margin: 0;
  }
}

*:focus {
  outline: none;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1 {
  font-weight: 400;

  @include mobile {
    font-size: 1.6em;
  }
}

h2 {
  font-weight: 300;
  font-size: 1.4em;
}

h3 {
  font-weight: 500;
}

input:focus {
  outline: none;
  border: 1px solid $theme-focus;
}

a {
  color: $theme-link;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: lighten($theme-link, 25%);
  }
}

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

label {
  font-weight: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

select {
  border: none;
  font-size: 1em;
}

.text-center {
  text-align: center;
}
