$theme-primary: #159dbf;
$theme-link: #151686;
$theme-happy: #5cbf6f;
$theme-border: #dbdbdb;
$theme-focus: #2e1980;
$theme-background: #fbfbfb;
$theme-text: #2c3e50;
$theme-text-light: #f0f8ff;
$theme-inactive: #d7d7d7;

@mixin flex(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $flex-wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin dynamicColor($prop, $color) {
  #{$prop}: $color;

  &:hover {
    #{$prop}: lighten($color, 5%);
  }

  &:active {
    #{$prop}: lighten($color, 12%);
  }

  &:disabled {
    #{$prop}: desaturate(darken($color, 10%), 20%);
  }
}

body, h1, h2, h3, p {
  @include flex;
}

h1, h2, h3 {
  align-items: center;
}

body {
  background-color: $theme-background;
  color: $theme-text;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  @include flex($flex-direction: column, $justify-content: flex-start, $flex-wrap: nowrap);
  box-shadow: 1px 1px 5px $theme-border;
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.site-header {
  @include flex($justify-content: space-between, $align-items: center, $flex-wrap: nowrap);
  width: 100%;

  &__title {
    @include flex;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }
}

*:focus {
  outline: none;
}

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1 {
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

.twothird {
  width: 65%;
}

.onethird {
  width: 32%;
}

.half {
  width: 49%;
}

.full {
  width: 100%;
}

.pitch-box {
  @include flex(column, $align-items: center);
  border: 1px solid $theme-border;
  min-height: 210px;
  padding: 20px 0;

  &--subdued {
    border: none;
    border-left: 1px solid lighten($theme-border, 10%);
  }

  &__header {
    margin-bottom: 0.5em;
  }

  &__text {
    text-align: center;
    padding: 0.3em 1.0em;
  }
}

.row-spaced {
  @include flex($justify-content: space-between);
  width: 100%;
}

.row {
  @include flex;
}

.row-centered {
  @include flex($justify-content: center);
}

.col-spaced {
  @include flex($flex-direction: column, $justify-content: space-between);
}

.center-col {
  @include flex($align-items: center);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

select {
  border: none;
  font-size: 1em;
}

button {
  @include dynamicColor(background, $theme-primary);
  color: $theme-text-light;
  font-size: 1em;
  margin: 0;
  padding: 0.15em 0.75em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.happy {
  color: $theme-happy;
}

input[type="text"] {
  font-size: 1em;
  padding: 0.4em 0.2em;
  margin: 0.3em 0;
  width: 100%;
  border: 1px solid $theme-border;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1px solid $theme-focus;
}

a {
  @include dynamicColor(color, $theme-link);
  text-decoration: none;
}

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0 0;
}

label {
  font-weight: 600;
}

.form {
  @include flex($flex-direction: column);
  height: 100%;

  &__header {
    margin: 0.3em 0;
  }

  &__group {
    @include flex($flex-direction: column);
    width: 100%;
    margin: 0.5em 0;
  }

  &__submit {
    font-size: 2em;
    justify-self: flex-end;
  }
}

.radio-buttons {
  @include flex($flex-direction: column);
  padding: 0.2em 0;

  &__option {
    @include flex($align-items: center);
    margin: 0.2em 0;
  }

  &__label {
    font-weight: 400;
    margin-left: 0.3em;
  }
}

.content {
  justify-content: space-around;
  width: 100%;
  margin: 4em 0;
}

.landing-cta {
  @include flex($align-items: center);
  font-size: 1.7em;
  font-weight: 400;
  height: 150px;

  &__text {
    padding: 0 0.2em;
  }

  &__input {
    margin: 0 0.1em;
  }

  &__submit {
    margin-left: 0.3em;
  }
}

.justify-left {
  justify-content: space-around;
}

.align-left {
  align-items: flex-start;
}

.progress-log {
  @include flex($flex-direction: column);
  list-style: none;
  font-weight: 500;
  padding: 0;

  &--inactive {
    color: $theme-inactive;
  }

  &__icon {
    width: 15px;
    height: 15px;
  }

  &__description {

  }

  li {
    @include flex($align-items: center);
    margin: 0.2em 0;

    span {
      margin-right: 0.4em;
    }
  }
}

.router-view {
  padding: 15px 0;
}


.big-info {
  @include flex($flex-direction: column);

  &__header {
    width: 100%;
    text-align: center;
    font-size: 2.0em;
    font-weight: 300;
  }

  &__label {
    margin-top: 0.5em;
    font-weight: 300;
    font-size: 1.2em;
  }

  &__label:first-child {
    margin-top: 0;
  }

  &__swap-size {
    font-size: 1.7em;
  }

  &__stellar-account {
    font-size: 1.4em;
  }
}

