@import "colors.scss";
@import "utils.scss";

#app {
  @include flex($flex-direction: column, $justify-content: flex-start, $flex-wrap: nowrap);
  box-shadow: 1px 1px 5px $theme-gray;
  width: 80%;
  margin: auto;
  padding: 15px;
  background-color: $theme-app-background;

  @include mobile {
    width: auto;
  }
}

.app-container {
  width: 100%;
}

.site-header {
  width: 100%;
  height: 7.5%;

  &__version {
    font-weight: 600;
    font-size: 16px;
  }

  &__logo {
    width: 50px;
    height: 50px;
    margin: 0 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.site-footer {
  margin: 0.6em auto;
  color: $theme-text-subdued;
  width: 80%;

  &__link {
    margin: 0 0.3em;
    color: mix($theme-text-subdued, $theme-link, 40%);

    &:hover {
      color: $theme-link;
    }
  }

  &__text {
    font-size: 13px;
    margin-left: -15px;
  }
}

.pitch-box-container {
  width: 100%;
  margin: 1.5vh 0;
}

.pitch-box {
  @include flex(column, $justify-content: flex-start, $align-items: center);
  border: 1px solid $theme-gray;
  border-radius: 2px;
  min-height: 180px;
  padding: 10px 0;

  margin: 0.2em 0;
  background: $theme-background-light;

  &--subdued {
    border: none;
    border-left: 1px solid lighten($theme-gray, 10%);
  }

  &__header {
    margin-bottom: 0.5em;
    height: 30px;
  }

  &__title {
    font-weight: 600;
  }

  &__text {
    text-align: center;
    padding: 1.3em 1.5em;
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 0.3em;
  }
}

.button {
  display: inline-block;
  background: none;
  font-size: 1.3em;
  margin: 0.1em;
  padding: 0.15em 0.75em;
  width: 5em;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &--normal {
    @include dynamicColor($theme-primary);
    color: $theme-text-light;
  }

  &--happy {
    @include dynamicColor($theme-happy);
    color: $theme-text-light;
  }

  &--angry {
    @include dynamicColor($theme-angry);
    color: $theme-text-light;
  }

  &--normal, &--happy, &--angry {
    &:hover {
      color: $theme-text-light;
    }
  }

  &--big {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  &--small {
    font-size: 1em;
    line-height: 1em;
    width: auto;
  }

  &--light {
    border: 1px $theme-gray solid;
    color: lighten($theme-text, 15%);
    background: none;
  }

  &--long {
    @include flex($justify-content: space-around, $align-items: center);
    width: 7em;

    &__item {
      width: 30%;
    }
  }

  &--link {
    font-size: 1.0em;
    font-weight: 400;
    width: auto;
    color: $theme-link;

    &:hover {
      color: lighten($theme-link, 15%);
    }

    &:active {
      color: darken($theme-link, 15%);
    }

    &:disabled {
      color: transparentize($theme-link, 0.3);
    }
  }
}

.text-input {
  font-size: 1em;
  padding: 0.4em 0.2em;
  margin: 0.3em 0;
  color: $theme-text;
  border: 1px solid $theme-gray;
  border-radius: 4px;

  &:disabled {
    background: $theme-gray;
  }

  &--angry {
    border-color: $theme-angry;
  }

  &--happy {
    border-color: $theme-happy;
  }
}

.form {
  height: 100%;
  background: $theme-background;
  border: 1px solid darken($theme-background, 7.5%);
  padding: 15px;

  &__header {
    @include flex($align-items: center);
    font-weight: 400;
    margin: 0.3em 0;

    &__icon {
      margin: 0 0.15em;
    }
  }

  &__label {
    width: 100%;
  }

  &__group {
    @include flex;
    width: 100%;
    margin: 1em 0;

    input {
      flex-grow: 1;
    }
  }

  &__submit {
    justify-self: flex-end;
    @include flex($align-items: center);
  }

  &__subtext {
    margin: 0 0.5em;
    color: $theme-text-subdued;
  }
}

.radio-buttons {
  @include flex($flex-direction: column);
  padding: 0.2em 0;

  &__option {
    @include flex($align-items: center);
    margin: 0.2em 0;
  }

  &__label {
    font-weight: 400;
    font-size: 20px;
    margin-left: 0.3em;
  }

  &__label-subtitle {
    color: $theme-text-subdued;
    font-size: 17px;
  }
}

.landing-cta {
  width: 100%;
  font-size: 1.4em;
  font-weight: 400;
  margin: 1.5vh 0;
  height: 50vh;

  &__text {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  &__subtitle {
    margin-top: 7px;
  }

  &__actions {
    margin: 0.75em 0;
    text-align: center;
    font-size: 0.8em;
  }

  &__footer {
    margin-top: 0.25em;
    font-size: 14px;
    color: $theme-text-subdued;
  }
}

.progress-log {
  @include flex($flex-direction: column);
  list-style: none;
  font-weight: 500;
  padding: 0;

  &__icon {
    @include flex($justify-content: center, $align-items: center);
    width: 25px;
    height: 25px;

    &--happy {
      color: $theme-happy;
    }
  }

  &__item {
    @include flex;
    margin: 0.2em 0;

    &--inactive {
      color: $theme-inactive;
    }
  }

  &__description {
    @include flex;
  }

  &__rank {
    margin: 0 0.2em;
  }
}

.router-view {
  width: 80%;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

.big-info {
  @include flex($flex-direction: column);

  &__header {
    font-size: 36px;
    font-weight: 500;
    color: darken($theme-primary, 15%);
  }

  &__label {
    margin: 0.5em 0 0.25em;
    font-weight: 300;
    font-size: 1.2em;
  }

  &__label:first-child {
    margin-top: 0;
  }

  &__swap-size {
    font-size: 1.5em;
  }

  &__account {
    font-size: 1.1em;
  }
}

.sign-dialog {
  @include flex;
  width: 100%;

  &__header {
    background: easyGradient($theme-happy);
    color: $theme-text-light;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
  }

  &__body {
    @include flex($flex-direction: column);
    margin-top: 0;
    padding: 10px;
    width: 100%;

    p {
      margin: 0.2em 0;
    }
  }

  &__line {
    width: 100%;
    margin-top: 1em;
  }

  &__stellar {
    @include flex($align-items: center);
    width: 100%;
  }

  &__input {
    flex-grow: 1;
    margin-right: 5px;
  }

  &__submit {
    font-size: 1.5em;
    align-self: flex-end;
    margin: 5px;
    background: easyGradient($theme-primary);
  }

  &__footer {
    @include flex($justify-content: center);
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
    border-top: 1px solid $theme-gray;
  }

  &__description {
  }
}

.text {
  &--angry {
    color: $theme-angry;
  }

  &--right {
    text-align: end;
  }
}

.modal {
  background: easyGradient(#efefef);
  height: 100%;
}

.article {
  margin: 0.5em 0;

  &__content {
    margin: 0.5em 0;
    line-height: 1.6em;
  }
}
