body {
  display: flex;
  background-color: #fbfbfb;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app {
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;
}

h1, h2, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1, h2 {
  margin: 0.25em 0;
}

p {
  text-align: center;
  padding: 0 0.6em;
}

h1 {
  display: flex;
  align-items: center;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0.2em 0.3em;
  display: inline-block;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adbox-container {
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.full {
  width: 100%;
}

.major {
  width: 62%;
  display: flex;
  justify-content: flex-start;
}

.minor {
  width: 32%;
  display: flex;
  justify-content: flex-end;
}

.adbox {
  width: 30%;
  min-height: 210px;
  padding: 20px 0;
  border: 1px solid #e7e7e7;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.spacing {
  min-height: 100px;
}

select {
  border: none;
  font-size: 1em;
}

select:focus {
  outline: none;
}

button {
  background: #159dbf;
  color: aliceblue;
  font-size: 1em;
  margin: 0;
  padding: 0.15em 0.75em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.happy {
  background: #009432;
}

button:active {
  background: #0ea39d;
}

button:focus {
  outline: none;
}

.big {
  font-size: 2em;
}

input[type="text"] {
  font-size: 1.15em;
  padding: 0.4em 0.2em;
  margin: 0.2em 0;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
}


input:focus {
  outline: none;
  border: 1px solid #2e1980;
}

a {
  color: #0652DD;
  text-decoration: none;
}

a:hover, a:active {
  color: #12CBC4;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

label {
  font-weight: 600;
  margin: 0 0.4em;
}

.form-label {
  width: 100%;
  margin: 1.5em 0 0.2em;
}

.swapSize {
  border: 2px #a3c3cc solid;
  border-radius: 3px;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.content {
  justify-content: space-around;
  width: 100%;
  margin: 4em 0;
}

.landing-action {
  font-size: 1.7em;
  font-weight: 400;
}

.prepare-swap-container {
  align-items: flex-start;
}
