@import "colors.scss";
@import "utils.scss";

#app {
  @include flex($flex-direction: column, $justify-content: flex-start, $flex-wrap: nowrap);
  box-shadow: 1px 1px 5px $theme-gray;
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.site-header {
  @include flex($justify-content: space-between, $align-items: center, $flex-wrap: nowrap);
  width: 100%;

  &__title {
    @include flex;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }
}

.pitch-box {
  @include flex(column, $align-items: center);
  border: 1px solid $theme-gray;
  min-height: 210px;
  padding: 20px 0;

  &--subdued {
    border: none;
    border-left: 1px solid lighten($theme-gray, 10%);
  }

  &__header {
    margin-bottom: 0.5em;
  }

  &__text {
    text-align: center;
    padding: 0.3em 1.0em;
  }
}

.button {
  @include dynamicColor($theme-primary);
  color: $theme-text-light;
  font-size: 1.3em;
  margin: 0;
  padding: 0.15em 0.75em;
  width: 5em;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &--happy {
    @include dynamicColor($theme-happy);
  }
}

.text-input {
  font-size: 1em;
  padding: 0.4em 0.2em;
  margin: 0.3em 0;
  color: $theme-text;
  border: 1px solid $theme-gray;
  border-radius: 4px;

  &:disabled {
    background: $theme-gray;
  }

  &--angry {
    border-color: $theme-angry;
  }

  &--happy {
    border-color: $theme-happy;
  }
}

.form {
  @include flex($flex-direction: column);
  height: 100%;

  &__header {
    margin: 0.3em 0;
  }

  &__label {
    width: 100%;
  }

  &__group {
    @include flex;
    width: 100%;
    margin: 0.5em 0;

    input {
      flex-grow: 1;
    }
  }

  &__submit {
    font-size: 2em;
    justify-self: flex-end;
  }
}

.radio-buttons {
  @include flex($flex-direction: column);
  padding: 0.2em 0;

  &__option {
    @include flex($align-items: center);
    margin: 0.2em 0;
  }

  &__label {
    font-weight: 400;
    margin-left: 0.3em;
  }
}

.landing-cta {
  @include flex($align-items: center);
  font-size: 1.7em;
  font-weight: 400;
  height: 150px;

  &__text {
    padding: 0 0.2em;
  }

  &__input {
    margin: 0 0.1em;
  }

  &__submit {
    margin-left: 0.3em;
    font-size: 0.8em;
  }
}

.progress-log {
  @include flex($flex-direction: column);
  list-style: none;
  font-weight: 500;
  padding: 0;

  &__icon {
    width: 15px;
    height: 15px;

    &--happy {
      color: $theme-happy;
    }
  }

  &__item {
    @include flex($align-items: center);
    margin: 0.2em 0;

    &--inactive {
      color: $theme-inactive;
    }

    span {
      margin-right: 0.4em;
    }
  }
}

.router-view {
  width: 100%;
  padding: 15px 0;
}

.big-info {
  @include flex($flex-direction: column);

  &__header {
    font-size: 2.0em;
    font-weight: 500;
    color: darken($theme-primary, 10%);
  }

  &__label {
    margin: 0.5em 0 0.25em;
    font-weight: 300;
    font-size: 1.2em;
  }

  &__label:first-child {
    margin-top: 0;
  }

  &__swap-size {
    font-size: 1.5em;
  }

  &__account {
    font-size: 1.1em;
  }
}

.sign-dialog {
  @include flex;
  width: 100%;

  &__header {
    background: easyGradient($theme-happy);
    color: $theme-text-light;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
  }

  &__body {
    @include flex($flex-direction: column);
    margin-top: 0;
    padding: 10px;
    width: 100%;

    p {
      margin: 0.2em 0;
    }
  }

  &__line {
    width: 100%;
    margin-top: 1em;
  }

  &__stellar {
    @include flex($align-items: center);
    width: 100%;
  }

  &__input {
    flex-grow: 1;
    margin-right: 5px;
  }

  &__submit {
    font-size: 1.5em;
    align-self: flex-end;
    margin: 5px;
    background: easyGradient($theme-primary);
  }
}

.text {
  &--angry {
    color: $theme-angry;
  }
}

.modal {
  background: easyGradient(#efefef);
  height: 100%;
}
