@mixin flex(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $flex-wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@function easyGradient($color) {
  @return linear-gradient(lighten($color, 2.5%), darken($color, 2.5%))
}

@mixin dynamicColor($color) {
  background: easyGradient($color);

  &:hover {
    background: easyGradient(lighten($color, 2%));
  }

  &:active {
    background: easyGradient(darken($color, 9%));
  }

  &:disabled {
    background: easyGradient(desaturate($color, 20%));
  }
}

@mixin mobile {
  @media only screen and (max-width: 786px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 786px) {
    @content;
  }
}
